.Pulser-feed {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Pulser-feed-header {
    background-color: #282c34;
    min-height: 10vh;
    width: 100vw;
    font-size: calc(10px + 2vmin);
    color: white;
}